.navigation {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
    font-weight: 500;
}

.navigation ul li {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.navigation i {
    font-size: 1.5rem;
    display: none;
}

.navigation ul li:hover {
    background-color: #D268CC;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.navigation .logo img {
    border: 2px solid red;
}


@media (max-width:786px) {
    .navigation ul li {
        display: none;
    }

    .navigation i {
        font-size: 1.5rem;
        display: block;
        margin-right: 1rem;
    }
}